// scale = 1-(z translate / perspective)
@import "../mixins";

$perspective: 300;

@mixin align-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

:root {
  overflow-y: hidden;
}

.parallax_wrapper {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 300px;

  .parallax_group {
    position: relative;
    transform-style: preserve-3d;
    height: 100vh;
    width: 100vw;

    .parallax_layer {
      position: absolute;
      inset: 0;
      height: 100vh;
    }

    #layer1 {
      background-color: #1f1d2e;
      transform: translateZ(180px) scale(calc(1 - (180 / $perspective)));
      @include align-center;
      z-index: 6;
      //padding-top: 30px;

      .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @include mobile {
          transform: translateY(-30%);
        }

        .smoltext {
          font-size: 0.85em;
          color: #6e6a86;
        }

        .link {
          font-size: 3em;
          margin-top: 1em;
          cursor: pointer;

          transition:
            cubic-bezier(0.075, 0.82, 0.165, 1) color 0.5s,
            transform 0.5s;

          -webkit-user-select: none;
          -ms-user-select: none;
          user-select: none;

          &:hover {
            color: #c4a7e7;
          }

          &:active {
            transform: scale(0.95);
          }
        }
      }
    }

    #layer2 {
      background-color: #eb6f92;
      transform: translateZ(150px) scale(calc(1 - (150 / $perspective)));
      z-index: 5;
    }

    #layer3 {
      background-color: #b4637a;
      transform: translateZ(120px) scale(calc(1 - (120 / $perspective)));
      z-index: 4;
    }

    #layer4 {
      background-color: #ea9a97;
      transform: translateZ(90px) scale(calc(1 - (90 / $perspective)));
      z-index: 3;
    }

    #layer5 {
      background-color: #f6c177;
      transform: translateZ(60px) scale(calc(1 - (60 / $perspective)));
      z-index: 2;
    }

    #layer6 {
      background-color: #286983;
      transform: translateZ(30px) scale(calc(1 - (30 / $perspective)));
      z-index: 1;
    }

    #layer7 {
      background-color: #907aa9;
      //transform: translateZ(0px) scale(calc(1 - (0 / $perspective)));
    }
  }
}

.main {
  position: relative;
  min-height: 100vh;
  background-color: #191724;

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    .text_container {
      width: 80vw;
      margin-block: 50px;
      padding-bottom: 50px;
    }
  }
}
